<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>froggycartorder</name>
            <displayName><![CDATA[Froggy Cart to Order]]></displayName>
            <version><![CDATA[1.0.4]]></version>
            <description><![CDATA[Allow you to convert a cart into order]]></description>
            <author><![CDATA[Froggy Commerce]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>